.project {
	display: -ms-grid !important;
	display: grid !important;

	grid-template-columns: 1fr 8fr;
	grid-template-rows: auto auto;
	grid-template-areas: 
		"img header" 
		"buttons p";

	row-gap: 15px;
	column-gap: 10px;

	justify-items: center;
	align-items: center !important;

	padding-bottom: 15px !important;
}
.project>img {
	width: 64px;
	height: 64px;
	min-width: 64px;
	min-height: 64px;
	display: block;

	user-select: none;

	grid-area: img;
}
.project>h6 {
	font-size: 50px;
	text-align: left;

	align-self: center;
	justify-self: start;
	margin-left: 10px;

	margin-top: auto;
	margin-bottom: auto;

	grid-area: header;
}
.project>.project__text {
	text-align: left;
	margin: 0;

	margin-left: 10px;
	margin-top: 0;

	justify-self: start;
	align-self: start;

	max-height: 300px;
	overflow-y: auto;

	grid-area: p;
}
.project>.project__text>p {
	margin-top: 0;
}

.project>.project__buttons {
	align-self: start;
	height: 100%;

	grid-area: buttons;
}
.project>.project__buttons>button {
	margin-bottom: 0;
}
.project>.project__buttons>button:hover {
	background-color: #0877008b !important;
}
.project>.project__buttons>button.github:hover {
	background-color: #005f778b !important;
}

#-project-buttons {
	display: flex;
}
#-project__all {
	margin-left: 20px;
}
